version: '3.8'
services:
    redis:

        image: redis:7-alpine

        container_name: redis-local

        restart: unless-stopped

        ports:

            - "6379:6379" 

        volumes:

            - redis-data:/data 

        networks:

            - redis-net

volumes:

    redis-data:


networks:

    redis-net:

        driver: bridge
